.bags {
    display: flex;
    flex-direction: column;
}

.bag {
    background-color: #51bb946c;
    border: 2px dotted rgb(0, 122, 65);
    padding: 0.7rem;
    margin: 0.5rem;
}

.currency {
    display: inline-flex;
}

.currency_piece {
    padding: 0.7rem;
}