.bags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bag {
    background-color: #51bb946c;
    border: 2px outset #51bb946c;
    border-radius: 10px;
    padding: 0.7rem;
    margin: 0.5rem;
    width: 20rem;
    min-height: 6rem;
}

.bag_buttons {
    display: flex;
}

.currency {
    display: inline-flex;
}

.currency_piece {
    padding: 0.7rem;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    background-color: #51bb946c;
    border: 2px outset #51bb946c;
    border-radius: 10px;
    padding: 0.7rem;
    margin: 0.5rem;
    width: 20rem;
    min-height: 6rem;
}
