.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 2px #51bb946c;
    border-style: none none solid none;
    list-style-type: none;
    padding: 0;
}

.navbar__item {
    list-style-type: none;
    padding: 1rem;
}

.logo {
    height: 4rem;
}